body {
  padding-top: 4.5rem;
}

.card {
  max-width: 25rem;
}

.center-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  margin-top: 5px;
}

.tag-writein {
  background-color: #ccc;
}
