body {
  padding-top: 4.5rem;
}

/* PARTY TAGS */
.tag {
  margin-top: 5px;
}

.tag-votes {
  color: black;
  background-color: transparent;
  margin: 2px 5px 0px 5px;
}

.tag-DEM {
  background-color: #0275d8;
}

.tag-REP {
  background-color: #d9534f;
}

.tag-LIB {
  background-color: #f0ad4e;
}

.tag-GRE {
  background-color: #5cb85c;
}

.tag-CON {
  background-color: #5bc0de;
}

.tag-ADP {
  background-color: #147493;
}

.tag-IND {
  background-color: #818a91;
}

.tag-NON {
  background-color: #ccc;
}
